{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/transform-flow-strip-types",
    "@babel/plugin-transform-object-assign",
    ["@babel/transform-runtime", {
        "helpers": false
      }
    ]
  ]
}
